  
.jumbotron {
	background-color: black;
		color: yellowgreen;
}

body {
	background-color: black;
	color: yellowgreen;
}

.panel-heading {
	background-color: white;
}

.panel > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;

}